<table class = "table table-bordered">
  <thead>
    <th>Has One</th>
    <th>Has Many & Vice-versa</th>
    <th>Has Many</th>
  </thead>

  <tbody>
    <tr>
      <td>
        <label class = "checkbox">
          <%= f.collection_check_boxes :belongs_to_ids, @sources, :id, :source_name %> 
        </label>
      </td>
      <td>
        <label class = "checkbox">
          <%= f.collection_check_boxes :habtm_ids, @sources, :id, :source_name %> 
        </label>
      </td>
      <td>
        <label class = "checkbox">
          <%= f.collection_check_boxes :has_many_ids, @sources, :id, :source_name %> 
        </label>
      </td>
    </tr>
  </tbody>
</table>
