<div class="modal hide fade" id="relationships">
  <div class="modal-header">
    <h4>Define Relationships - <%= @source.source_name %></h4>
  </div>
  <div class="modal-body">
    <%= render 'relationship_table', f: f %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
