<div class="role well">
  <b>Role: <%= current_user.app_roles(@application).size > 0 ? current_user.app_roles(@application).map(&:role_name).join(", ") : "N/A" %></b>
</div>
<div class="forms">
  <%= render 'forms/index' %>
</div>
<div class="reports">
  <%= render 'reports/index' %>
</div>
