<h1>Application List</h1>
<hr>
<% @used_applications.each do |app| %>
  <div class="span6 row">
    <h3><%= link_to app.application_name, application_path(app) %></h3>
    <b><p class="well"><%= app.application_description %></p></b>
  </div>
<% end -%>
