<div class="pull-right" style="border-left: 1px solid #eee; padding: 2em;">
  <h2>Sign In</h2>
  <hr>
  <%= render 'user_sessions/form' %>
</div>
<div class="span6">
  <h1>Welcome to DataBoot</h1>
  <p>I need to fill this up...</p>
</div>
