<br><br>
<div class="row">
  <div class="span9 well center">
    <h1>Build Applications </h1>
    <hr>
    <p>that take your data & business processes to the cloud in minutes!</p>
  </div>
  <div class="span2" style="border-left: 1px solid #eee; padding: 2em;">
    <h3>Login</h3>
    <hr>
    <%= render 'user_sessions/form' %>
  </div>
</div>
