<% set_application_parameters -%>
<h2>Entries for <%= @form.form_name.humanize %></h2>
<hr>
<%= render 'reports/report_table' %>
<div class="form-actions"><%= link_to 'Back', :back, class: "btn" %></div>
