<h2>Please check your entires</h2>
<hr>
<% @attributes.each do |key, val| -%>
  <li><b><%= key.humanize %></b>: <%= val %></li>
<% end -%>

<hr>
<%= link_to 'Edit', edit_form_renderer_path(@object, form: @form.id), class: "btn" %> 
<%= link_to 'Continue', new_form_renderer_path(form: @form.id), class: "btn" %>

