<h2 class="well">Step 1/5: Databases</h2>
<div class="row">
  <p style="font-size: 110%;" class="span9">
  Let's make some databases first. Take some time out & plan what data you need to capture. Remember to make <b style="font-size: 120%;">Several Small Re-usable Databases</b> instead of one large data structure. Your databases can be <b style="font-size: 120%">Linked</b> together using <b style="font-size: 120%">Relationships</b> in the next step.
  </p>
  <%= link_to " Relationships", wizard_step2_path, class: "btn btn-large btn-primary span2 icon-arrow-right" %>
</div>
<hr>
<div class="row">
  <div class="span9"><%= render 'sources/form' %></div>
  <% if @databases -%>
    <div class="well span-2">
    <h3>Wizard Progress:</h3>
    <h5>Databases: <%= @databases.split(',').count %></h5>
    <% @databases.split(",").each do |source| -%>
      <li><%= source %></li>
  <% end -%>
  </div>
<% end -%>
</div>
