<h2 class="well">Step 1/4: Registers</h2>
<div class="row">
  <p style="font-size: 110%;" class="span9">
  Let's make some registers first. Think of registers as grids which hold your data. Define fields for your register below. Remember to make <b style="font-size: 120%;">Seperate Registers for supplying Masters</b>. Masters can be <b style="font-size: 120%">Imported</b> into your form in the next step.
  </p>
  <%= link_to " Forms", wizard_step3_path(@wizard.parameters), class: "btn btn-large btn-primary span2 icon-arrow-right pull-right" %>
</div>
<hr>
<div class="row">
  <div class="span9"><%= render 'sources/form' %></div>
  <%= @wizard.render_progress %>
</div>
