<h2 class="well">Step 4/5: Reports</h2>
<div class="row">
  <p style="font-size: 110%;" class="span9">
    Select a Register & choose attributes for creating a report. You'll get Created At & Updated At fields for free.
  </p>
  <%= link_to " Application", wizard_step5_path(@wizard.parameters), class: "btn btn-large btn-primary span2 icon-arrow-right pull-right" %>
</div>
<hr>
<div class="row">
  <div class="span9">
    <%= render 'reports/form' %>
  </div>
  <%= @wizard.render_progress %>
</div>
