<h2 class="well">Step 5/5: The Application</h2>
<div class="row">
  <p style="font-size: 110%;" class="span9">
   Let's call your application something.
  </p>
</div>
<hr>
<div class="row">
  <div class="span9">
    <%= render 'applications/form' %>
  </div>
  <%= @wizard.render_progress %>
</div>
