<h2 class="well">Step 1/4: Databases</h2>
<div class="row">
  <p style="font-size: 110%;" class="span9">
  Let's make some databases first. Remember to make <b style="font-size: 120%;">Seperate Databases for your Masters</b>. Your Masters can be <b style="font-size: 120%">Imported</b> in your form in the next step.
  </p>
  <%= link_to " Forms", wizard_step3_path(@wizard.parameters), class: "btn btn-large btn-primary span2 icon-arrow-right pull-right" %>
</div>
<hr>
<div class="row">
  <div class="span9"><%= render 'sources/form' %></div>
  <%= @wizard.render_progress %>
</div>
