<% unless @edit -%>
  <div class="well">
    <h2>Please select a Register</h2>
    <% @sources.each do |source| -%>
      <%= link_to source.source_name, source_path(source, @wizard.try(:parameters)), remote: true, class: "btn btn-mini" %>
    <% end -%>
  </div>
<hr>
<% end -%>
<div class = "render_form">
  <%= render 'reports/attributes' if @edit %>
</div>

