<table class="table table-bordered">
  <thead>
    <th>Search</th>
  </thead>

<% @reports.each do |report| %>
  <tbody>
    <tr>
      <td><%= link_to report.report_name, view_reports_path(report, {application: @application.id}) %></td>
    </tr>
  </tbody>
<% end %>
</table>
