<div class="filters well">
  <%= render 'filters' %>
</div>
<h2><%= @report.report_name %></h2>
<hr>
<div style="overflow: auto; width: 100%;">
  <%= render 'report_table' %>
</div>

<div class="form-actions"><%= link_to 'Back', :back, class: "btn" %></div>
