<div class="filters well">
  <%= render 'filters' %>
</div>
<h2><%= @report.report_name.humanize %> Report</h2>
<hr>
<%= render 'report_table' %>

<div class="form-actions"><%= link_to 'Back', :back, class: "btn" %></div>
